# --------------------
# Python / venv
# --------------------
venv/
.venv/
__pycache__/
*.py[cod]

# --------------------
# Flask
# --------------------
instance/

# --------------------
# ML cache / models
# --------------------
models/
*.joblib

# --------------------
# Logs
# --------------------
logs/
*.log
*.jsonl

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Editors
# --------------------
.vscode/
.idea/